/*
 * Search UI: Styles for Query suggestion List "combobox", TO BE eventually replaced by GCWeb reference implementation codebase
 */
 .query-suggestions {
	background-color: white;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	cursor: pointer;
	left: 0px;
	list-style-type: none;
	padding: 0;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 60;
}
.query-suggestions:has(li) {
    border-bottom: 1px solid #ccc;
}
.query-suggestions li {
	padding: 5px 10px;
}
.query-suggestions li:hover {
	background-color: #ddd;
}
.query-suggestions .suggestion-item::before {
	content: "\e003";
	font-family: "Glyphicons Halflings";
	font-size: 0.8em;
	line-height: 1;
	margin-right: 12px;
	position: relative;
	top: 1px;
}
.query-suggestions .selected-suggestion {
	background-color: #ddd;
}
