/*
 * Search UI: Styles for Query suggestion List "combobox", TO BE eventually replaced by GCWeb reference implementation codebase
 */
 .query-suggestions {
	background-color: white;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
	width: calc(100% - 30px);
	cursor: pointer;
	list-style-type: none;
	padding: 0;
	position: absolute;
	z-index: 60;
}

.query-suggestions li {
    padding: 5px 10px 5px 30px;
    position: relative;
}

.query-suggestions li:hover {
	background-color: #ddd;
}

.query-suggestions .suggestion-item::before {
	content: "\e003";
	font-family: "Glyphicons Halflings";
	font-size: 0.8em;
	line-height: 1.4;
	margin-right: 12px;
	position: relative;
	top: 1px;
    position: absolute;
    transform: translateY(50%);
    left: 8px;
}

.query-suggestions .selected-suggestion {
	background-color: #ddd;
}

.query-suggestions:has(li) {
    border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 991px) {
  .query-suggestions {
    position: relative;
    width: 100%;
  }
}